@charset "utf-8";
// 颜色
$base-blue:#409eff;
$base-black:#000;
$base-white:#fff;
$base-bg-color:#f5f6f7;
$base-color-313131:#313131;
$base-color-333:#333;
$base-color-666:#666;
$base-color-999:#999;
$base-color-eee:#eee;
$base-color-EBEEF5:#EBEEF5;
$base-color-f2f4f7:#f2f4f7;
$base-color-303133:#303133;
$base-color-F56C6C:#F56C6C;
$base-color-E6A23C:#E6A23C;
$base-color-67C23A:#67C23A;

// 字号
$base-font-size-small: 12px;
$base-font-size-default: 14px;
$base-font-size-big: 16px;
$base-font-size-bigger: 18px;
$base-font-size-max: 24px;
// 加粗
$base-weight-normal:bold;
$base-font-weight-bigger:600;